{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:jest/recommended",
    "airbnb-typescript/base",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "jest"
  ],
  "rules": {
    "object-shorthand": [
      "error",
      "never"
    ],
    "object-curly-spacing": "error",
    "jest/no-identical-title": "error"
  },
  "env": {
    "jest/globals": true
  }
}
